{% extends "base.html" %}
{% block content %}
<div class="navbar navbar-light bg-light secondary-nav justify-content-end">
        {% if current_user.is_authenticated %}
            <p class="v-center">
                <a href="" class="btn">{{ current_user.name }} {{ current_user.surname }}</a>
                <a class="btn btn-outline-dark" href="/logout">Выйти</a>
            </p>
        {% else %}
        <p class="v-center h-center">
            <a class="btn btn-outline-primary " href="/register">Регистрация</a>
            <a class="btn btn-outline-success" href="/login">Войти</a>
        </p>
        {% endif %}
        </div><br>
        {% block primary_content %}{% endblock %}
{% endblock %}
