#logo-main{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

ul.navbar-nav{
    margin-left: auto;
    margin-right: auto;
}

footer, .navbar, header>.container-fluid{
    background-color: #F7F0ED;
}
