#logo-main{
    display: block;
    height: 72px;
}

.main-color{
    background-color: #F7F0ED;
}

.h-center{
    margin-left: auto;
    margin-right: auto;
}

.v-center{
    margin-top: auto;
    margin-bottom: auto;
}

label.required:after
{
    color: red;
    content: " *";
}
.t-center{
    text-align: center;
}
nav{
    font-size: larger;
}
